.hover-test {
    background-image: url(../images/test.png);
    background-repeat: no-repeat;
}

.hover-test:hover {
    background-image: url(../images/test2.gif);
    background-repeat: no-repeat;
}